* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  text-align: center;
}

$primaryDark2: #0C0032;
$primaryDark1: #190061;
$primaryLight2: #240090;
$primaryLight1: #3500D3;




$background: #282828;
